<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <div style="border: 1px darkblue solid">-->
<!--        {{ my_num }}-->
<!--    </div>-->
<!--    <div style="border: 1px darkseagreen solid">-->
<!--        {{ my_str }}-->
<!--    </div>-->
<!--    <div style="border: 1px fuchsia solid">-->
<!--        {{ my_set }}-->
<!--    </div>-->
<!--    <div style="border: 1px firebrick solid">-->
<!--        {{ my_dict.some_key }}-->
<!--    </div>-->

<!--    <div style="border: 1px cyan solid">-->
<!--        {{ my_class.string }}-->
<!--    </div>-->
<!--    <div style="border: 1px cyan solid">-->
<!--        {{ my_list.0 }}-->
<!--    </div>-->
<!--    <div style="border: 1px burlywood solid">-->
<!--        {{ my_tuple.1 }}-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if display_num %}
        {{ my_num }}
    {% else %}
        <span> We don't display num </span>
    {% endif %}
</div>
<div>
    {% for x in month_list %}
    {% if forloop.counter|divisibleby:2 %}secret{% else %}{{x}}{% endif %}
    {% endfor %}
</div>
</body>
</html>